fastapi
uvicorn[standard]
sqlalchemy
alembic
email-validator
openai
psycopg2-binary
pydantic[email]
pydantic
pydantic-settings
python-dotenv
python-docx
python-jose
python-multipart
PyPDF2
passlib[bcrypt]
requests